# Node modules
node_modules/

# Build files
packages/*/lib/

# Vuepress Cache
docs/.vuepress/.cache/
# Vuepress Temp
docs/.vuepress/.temp/
# Vuepress Output
docs/.vuepress/dist/

# VS Code Config file
.vscode/

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/

# macOS
.DS_Store
